ul li {
    list-style: none;
}

.l1 {
    background-color: red;
    width: 200px;
    height: 200px;
    text-align: center;
    margin: auto;
}

.l2 {
    background-color: brown;
    width: 200px;
    height: 200px;
    text-align: center;
}

.l3 {
    background-color: yellow;
    width: 200px;
    height: 200px;
    text-align: center;
}

.l4 {
    background-color: green;
    width: 200px;
    height: 200px;
    text-align: center;
}

.container {
    width: 200px;
    margin: auto;
    overflow: hidden;
}

* {
    margin: 0px;
    padding: 0px;
}

ul {
    display: inline-flex;
    position: relative;
    animation: koya 2s;
}

@keyframes koya {
    0% {
        right: 0;
    }
    30% {
        right: 200px;
    }
    60% {
        right: 400px;
    }
    100% {
        right: 600px;
    }
}